@use 'colors';

@keyframes title-animation {
	0%,
	100% {
		-webkit-text-stroke-color: colors.$neon-pink;
		text-shadow: 0 0 0.5em colors.$neon-pink;
	}
	20%,
	80% {
		-webkit-text-stroke-color: #111;
		text-shadow: none;
	}
}

@keyframes border-animation {
	0%,
	100% {
		border: #111 0.125em solid;
		box-shadow: none;
	}
	40%,
	60% {
		border: colors.$neon-pink 0.125em solid;
		box-shadow: inset 0 0 0.5em colors.$neon-pink, 0 0 0.5em colors.$neon-pink;
	}
}

@keyframes loader-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
