$neon-pink: #ff00b7;
$dark-pink: #31202b;
$dark-blue: #000e24;
$white-color: #e0e0e0;

.dark-blue-gradient {
	background-color: rgba(0, 14, 36, 0.822);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}
