$main-font: 'Montserrat', 'sans-serif';
$special-font: 'Dancing Script', 'cursive';

$neon-pink: #ff00b7;
$error-color: #e21e1e;
$dark-pink: #31202b;
$lighter-dark-blue: #021533;
$dark-blue: #000e24;
$white-color: #e0e0e0;
$gray-color: #9b9b9b;
$transparent-gray-color: #e0e0e033;

.dark-blue-gradient {
	background-color: #000e24cc;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}
