@use 'colors';

@media screen and (min-width: 1024px) {
	body {
		overflow-x: hidden;
	}

	.homepage {
		&__title {
			font-size: 7em;
		}

		&__button {
			padding: 1em 5em;
		}
	}

	.header {
		background-color: transparent;
		transition: background-color 0.3s;

		&__title {
			font-size: 3em;
		}

		&__nav-link {
			font-size: 1.2em;
		}
	}

	.header-active {
		background-color: rgb(0, 14, 36);
	}

	.main-section {
		margin-right: -17px;
	}

	.footer {
		font-size: 1.2em;

		&__text {
			padding: 1em;
		}

		&__icon {
			font-size: 36px;
		}
	}
}

@media screen and (min-width: 1280px) {
	.homepage {
		&__title {
			font-size: 10em;
		}

		&__button {
			padding: 1em 6em;
		}
	}
}
