@use 'colors';

@media screen and (min-width: 1024px) {
	.homepage {
		&__title {
			font-size: 7em;
		}

		&__button {
			padding: 1em 5em;
		}
	}

	.header {
		background-color: transparent;
		transition: background-color 0.3s;

		&__title {
			font-size: 3em;
		}

		&__nav-link {
			font-size: 1.2em;
		}
	}

	.header-active {
		background-color: rgb(0, 14, 36);
	}

	.offer {
		&__container {
			flex-direction: row;
			flex-wrap: wrap;
			margin: 3em 0;
		}

		&__box {
			width: 30%;
		}

		&__error {
			font-size: 1.5em;
		}
	}

	.form {
		&__input,
		&__textarea {
			font-size: 0.9em;
		}
	}

	.order,
	.contact,
	.terms {
		&__container {
			width: 50%;
		}
	}

	.footer {
		font-size: 1.2em;

		&__text {
			padding: 1em;
		}

		&__icon {
			font-size: 36px;
		}
	}

	.notfound {
		padding-bottom: 1em;

		&__img {
			width: 35%;
			max-width: 660px;
		}

		&__btn {
			padding: 1em 5em;
			font-size: 1.1em;
		}
	}
}

@media screen and (min-width: 1280px) {
	.homepage {
		&__title {
			font-size: 10em;
		}

		&__button {
			padding: 1em 6em;
		}
	}

	.offer {
		padding-top: 20px;

		&__container {
			margin-top: 180px;
			width: 100%;
			height: 100%;
		}

		&__box {
			width: 25%;
			max-width: 315px;
		}
	}
}

@media screen and (min-width: 1440px) {
	.offer {
		&__box {
			padding: 2em 1em;
			margin: 0 3em;
			width: 25%;
			max-width: 360px;
		}

		&__box:nth-of-type(2) {
			width: 30%;
			max-width: 380px;
		}
	}

	.form {
		&__title {
			font-size: 1.7em;
		}

		&__input,
		&__textarea,
		&__input-error,
		&__error {
			width: 60%;
		}
	}

	.order,
	.contact,
	.terms {
		&__container {
			width: 40%;
			max-width: 620px;
		}
	}

	.terms {
		&__title {
			font-size: 1.2em;
		}

		&__text {
			font-size: 1em;
		}
	}
}
