@use 'colors';

@media screen and (min-width: 1024px) {
	body {
		overflow-x: hidden;
	}

	.homepage {
		&__title {
			font-size: 7em;
		}

		&__button {
			padding: 1em 5em;
		}
	}

	.header {
		&__title {
			font-size: 3em;
		}

		&__nav-link {
			font-size: 1.2em;

			&:hover {
				color: colors.$second-color;
			}
		}
	}

	.main-section {
		margin-right: -17px;
	}

	.footer {
		font-size: 1.2em;

		&__text {
			padding: 1em;
		}

		&__icon {
			font-size: 36px;

			&:hover {
				color: colors.$second-color;
			}
		}
	}
}

@media screen and (min-width: 1280px) {
	.homepage {
		&__title {
			font-size: 10em;
		}

		&__button {
			padding: 1em 6em;
		}
	}
}
