@use 'colors';
@use 'mixins';

@media screen and (min-width: 768px) {
	.homepage {
		&__title {
			font-size: 6em;
		}
	}

	.header {
		background-color: transparent;
		transition: background-color 0.3s;

		&__box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			padding: 0 2em;
			margin: 0 auto;
			width: 100%;
			max-width: 1600px;
		}

		&__title {
			margin: 0 0.25em;
			width: 100%;
		}

		&__nav {
			display: flex;
			justify-content: flex-end;
			padding: 0;
		}

		&__nav-link {
			margin: 0.75em;
			padding: 1em;
			border: none;
			text-transform: uppercase;
			transition: color 0.3s text-shadow 0.3s;

			&::before {
				content: '';
				position: absolute;
				top: 40%;
				left: 12%;
				width: 70%;
				height: 100%;
				background-color: colors.$neon-pink;

				pointer-events: none;

				transform: perspective(3em) rotateX(40deg) scale(1, 0.35);
				filter: blur(2em);
				transition: opacity 150ms linear;
				opacity: 0;
			}

			&:hover,
			&:focus {
				color: colors.$neon-pink;
				text-shadow: 0 0 0.5em currentColor;
			}

			&:hover::before,
			&:focus::before {
				opacity: 1;
			}
		}

		&__nav-link-active {
			&::before {
				content: '';
				position: absolute;
				top: 40%;
				left: 12%;
				width: 70%;
				height: 100%;
				background-color: colors.$neon-pink;

				pointer-events: none;

				transform: perspective(3em) rotateX(40deg) scale(1, 0.35);
				filter: blur(2em);
				opacity: 1;
			}
		}
	}

	.header-active {
		background-color: rgb(0, 14, 36);
	}

	.offer {
		&__box {
			width: 40%;
		}
	}

	.footer {
		font-size: 1.1em;

		&__icon {
			@include mixins.center-flex;
			position: relative;
			font-size: 32px;
			transition: color 0.3s;

			-webkit-transform: translate3D(0, 0, 0);

			&::before {
				content: '';
				position: absolute;
				top: 80%;
				left: 50%;
				width: 100%;
				height: 100%;
				background-color: colors.$neon-pink;

				pointer-events: none;

				transform: perspective(3em) rotateX(40deg) scale(1, 0.35) translateX(-50%);
				filter: blur(0.5em);
				transition: opacity 150ms linear;
				opacity: 0;
			}

			&:hover,
			&:focus {
				color: colors.$neon-pink;
			}

			&:hover::before,
			&:focus::before {
				opacity: 1;
			}
		}
	}

	.notfound {
		&__btn {
			padding: 1em 5em;
		}

		&__img {
			width: 70%;
		}
	}
}
