@use 'globals';

@media screen and (min-width: 768px) {
	html {
		scroll-padding-top: 100px;
	}

	.header {
		background-color: transparent;

		&__box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			padding: 0 2em;
			margin: 0 auto;
			width: 100%;
			max-width: 1600px;
			height: 100px;
		}

		&__title {
			margin: 0 0.25em;
			width: 100%;
		}

		&__nav {
			display: flex;
			justify-content: flex-end;
			padding: 0;
		}

		&__nav-link {
			margin: 0.75em;
			padding: 0.5em;
			border: none;
			text-transform: uppercase;
			transition: all 0.3s;
		}

		&-active {
			background-color: globals.$dark-blue;
		}
	}

	.history {
		&__image-box {
			img {
				max-width: 450px;
			}
		}

		&__content-box {
			max-width: 450px;
		}
	}

	.offer {
		&__box {
			width: 50%;
		}

		&__box-button {
			font-size: 1em;
		}

		&__error {
			padding: 9em 0.5em 0;
		}
	}

	.opinions {
		&__carousel-container {
			animation: scroll-left 140s linear infinite;
		}

		&__box-image {
			width: 70px;
			height: 70px;
		}

		&__error {
			padding: 9em 0.5em 0;
		}
	}

	.contact {
		&__title-info-box {
			list-style-type: disc;
			text-align: left;
			max-width: 250px;
		}
	}

	.loader {
		margin: 1.82em 0;
	}

	.order,
	.terms {
		&__container {
			width: 66%;
		}
	}

	.order {
		&__special-icon {
			font-size: 82px;
			top: -30px;
			left: -30px;
		}

		.form {
			&__title {
				font-size: 1.85em;
			}

			&__close-button {
				margin: 0.5em;
			}
		}
	}

	.terms {
		&__main-title {
			font-size: 1.85em;
		}

		&__special-icon {
			font-size: 82px;

			&--first {
				top: -30px;
				left: -30px;
			}

			&--second {
				bottom: -30px;
				right: -30px;
			}
		}
	}

	.footer {
		font-size: 1.1em;

		&__icon {
			font-size: 32px;
		}
	}

	.notfound {
		&__btn {
			padding: 1em 5em;
		}

		&__img {
			width: 70%;
		}
	}
}

@media screen and (min-width: 768px) and (min-height: 500px) {
	.welcome {
		&__title {
			font-size: 7em;
		}
	}
}

@media screen and (min-width: 868px) {
	.header {
		&__nav-link {
			padding: 1em;
		}
	}
}
