@use 'globals';

@mixin center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin special-button {
	display: inline-block;
	position: relative;
	background-color: transparent;
	color: globals.$neon-pink;
	border: globals.$neon-pink 0.125em solid;
	border-radius: 0.25em;
	font-family: globals.$main-font;
	text-decoration: none;
	text-shadow: 0 0 0.5em currentColor;
	box-shadow: inset 0 0 0.5em globals.$neon-pink, 0 0 0.5em globals.$neon-pink;
	transition: background-color 150ms linear, color 150ms linear, text-shadow 150ms linear;

	&::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: globals.$neon-pink;

		pointer-events: none;

		transform: perspective(3em) rotateX(40deg) scale(1, 0.35);
		filter: blur(2em);
		transition: opacity 150ms linear;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: 0 0 2em 0.5em globals.$neon-pink;
		transition: opacity 150ms linear;
		opacity: 0;
	}

	@media screen and (min-width: 1024px) {
		&:hover,
		&:focus {
			background-color: globals.$neon-pink;
			color: globals.$dark-pink;
			text-shadow: none;
		}

		&:hover::before,
		&:focus::before {
			opacity: 1;
		}

		&:hover::after,
		&:focus::after {
			opacity: 1;
		}
	}
}

@mixin special-form-button {
	display: inline-block;
	position: relative;
	padding: 1em 4em;
	width: 215px;
	margin: 1.5em 0;
	background-color: transparent;
	color: globals.$white-color;
	font-size: 1em;
	font-family: globals.$main-font;
	border: 1px solid globals.$dark-pink;
	border-radius: 0.25em;
	box-shadow: inset 0 0 0.25em globals.$white-color, 0 0 0.25em globals.$white-color;
	text-decoration: none;
	transition: all 150ms linear;
	text-align: center;
	cursor: pointer;

	-webkit-transform: translate3D(0, 0, 0);

	&::before {
		content: '';
		position: absolute;
		top: 90%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: globals.$white-color;

		pointer-events: none;

		transform: perspective(3em) rotateX(40deg) scale(1, 0.35);
		filter: blur(2em);
		transition: opacity 150ms linear, background-color 150ms linear;
		opacity: 0.3;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: 0 0 2em 0.5em globals.$neon-pink;
		transition: opacity 150ms linear;
		opacity: 0;
	}

	@media screen and (min-width: 768px) {
		padding: 0.8em 0;
		margin-top: 1em;
		max-width: 250px;
		width: 250px;
	}

	@media screen and (min-width: 1024px) {
		font-size: 1.1em;

		&:hover,
		&:focus {
			background-color: globals.$neon-pink;
			color: globals.$dark-pink;
			box-shadow: inset 0 0 0.5em globals.$neon-pink, 0 0 0.5em globals.$neon-pink;
			border-color: globals.$neon-pink;
		}

		&:hover::before,
		&:focus::before {
			background-color: globals.$neon-pink;
			opacity: 1;
		}

		&:hover::after,
		&:focus::after {
			opacity: 1;
		}
	}
}
