@media screen and (max-width: 300px) {
	.cookie-banner-text {
		padding: 0.75em;
	}
}

@media screen and (max-width: 360px) {
	.order,
	.contact,
	.terms {
		&__container {
			width: 95%;
		}
	}
}

@media screen and (min-width: 320px) {
	.form {
		&__input,
		&__textarea {
			width: 85%;
		}
	}
}

@media screen and (min-width: 375px) {
	.offer {
		&__box {
			width: 70%;
		}
	}

	.form {
		&__input,
		&__textarea {
			width: 80%;
		}
	}
}

@media screen and (min-width: 500px) {
	.offer {
		&__box {
			width: 60%;
		}
	}

	.order {
		.form {
			&__box:nth-of-type(7) {
				height: 130px;
			}
		}
	}

	.contact {
		.form {
			&__box:nth-of-type(5) {
				height: 130px;
			}
		}
	}

	.form {
		&__input,
		&__textarea,
		&__input-error,
		&__error {
			width: 70%;
		}
	}

	.terms {
		&__box {
			width: 75%;
		}
	}

	.notfound {
		&__btn {
			padding: 1em 4em;
		}
	}
}

@media screen and (min-width: 600px) {
	.homepage {
		&__title {
			font-size: 5em;
		}

		&__button {
			padding: 1em 4em;
		}
	}

	.header {
		&__title {
			font-size: 2.5em;
		}
	}

	.offer {
		&__box {
			width: 45%;
		}
	}

	.footer {
		&__icons-box {
			padding: 0.5em 1em;
		}

		&__icon {
			margin: 0.75em 0.75em 0;
		}
	}

	.notfound {
		&__img {
			width: 80%;
		}
	}
}
