@use 'globals';
@use 'animations';
@use 'mixins';

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-padding-top: 110px;
	scroll-behavior: smooth;
}

body {
	background-color: globals.$dark-blue;
	color: globals.$white-color;
	font-family: 'Montserrat', sans-serif;
}

.cookie-banner-text {
	padding: 0.25em;
}

.cookie-banner-link {
	color: #ffdf00;
}

.header {
	position: fixed;
	@include mixins.center-flex;
	top: 0;
	width: 100%;
	background-color: globals.$dark-blue;
	transform: translateY(-110%);
	transition: opacity 0.3s, transform 0.3s, background-color 0.3s, box-shadow 0.3s;
	z-index: 10;
	opacity: 0;

	&__box {
		display: flex;
		justify-content: end;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 110px;
	}

	&__title {
		padding-bottom: 0.15em;
		font-size: 2.2em;
		font-family: 'Dancing Script', cursive;
		font-weight: 400;

		a {
			color: globals.$white-color;
			text-decoration: none;
		}
	}

	&__nav {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		width: 100%;
		padding-top: 0.5em;
	}

	&__nav-link {
		position: relative;
		display: inline-block;
		padding: 0.8em 0;
		color: globals.$white-color;
		border: 1px solid #000;
		font-size: 0.8em;
		text-decoration: none;
		text-align: center;
		transition: color 0.3s, text-shadow 0.3s;
	}

	&__nav-link:nth-of-type(1),
	&__nav-link:nth-of-type(2),
	&__nav-link:nth-of-type(3) {
		border-right: none;
	}

	&-active {
		box-shadow: 0px 10px 40px -15px #31202b;
		transform: translateY(0);
		opacity: 1;
	}
}

.welcome {
	@include mixins.center-flex;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background-image: url('../images/background-welcome.jpg');
	background-size: cover;
	background-position: center;

	&__container {
		@include mixins.center-flex;
		flex-direction: column;
		width: 100%;
	}

	&__title {
		margin-bottom: 1em;
		color: globals.$white-color;
		font-size: 4em;
		font-family: 'Dancing Script', cursive;
		font-weight: 300;
		text-shadow: 0 0 0.5em transparent;
		text-align: center;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #111;
		-webkit-transform: translate3D(0, 0, 0);

		span {
			animation: title-animation 1.25s linear forwards;
		}

		span:nth-child(7) {
			margin-left: 15px;
		}
	}

	&__special-br-tag {
		display: none;
	}

	&__button {
		@include mixins.special-button;
		padding: 1em 2em;
		text-transform: uppercase;
		animation: button-animation 1.25s linear forwards;
		opacity: 0;

		&::before {
			opacity: 0.7;
		}
	}
}

.history,
.offer,
.opinions,
.contact {
	position: relative;
	padding: 30px 0 40px;
	width: 100%;
	overflow: hidden;

	&__title {
		padding-bottom: 0.5rem;
		font-size: 2.5rem;
		text-align: center;
		font-weight: 300;
	}

	&__title-decoration {
		height: 1px;
		width: 50px;
		color: globals.$white-color;
		border: 1px solid globals.$white-color;
		margin-bottom: 2rem;
	}
}

.history,
.offer,
.opinions {
	&__container {
		position: relative;
		@include mixins.center-flex;
		flex-direction: column;
		padding: 1em 0;
		margin: 0 auto;
		width: 100%;
		max-width: 2160px;
	}
}

.history,
.offer {
	&__wrapper {
		@include mixins.center-flex;
		flex-direction: column;
		width: 100%;
		padding-top: 1em;
	}
}

.history {
	&__content-container {
		@include mixins.center-flex;
		flex-direction: column;
		padding: 1em 2em;
		text-align: center;
	}

	&__image-box {
		position: relative;
		@include mixins.center-flex;
		width: 100%;

		img {
			width: 85%;
			max-width: 350px;
			border-radius: 0.125em;
			box-shadow: 0px 10px 40px 0 rgba(49, 32, 43, 0.35);
			z-index: 5;
		}
	}

	&__image-box-icon {
		display: none;
	}

	&__content-box {
		padding: 2em 0;
		width: 100%;
		max-width: 350px;
		text-align: left;

		h3 {
			font-size: 1.5em;
			font-weight: 400;
		}

		p {
			padding: 1.25em 0 1em;
			font-weight: 200;
			line-height: 1.5em;
		}
	}

	&__special-decoration {
		height: 1px;
		width: 50px;
		color: globals.$white-color;
		border: 1px solid globals.$white-color;
		margin-bottom: 1em;
	}
}

.offer,
.opinions {
	&__error {
		padding: 4em 0.5em 0;
		color: globals.$white-color;
		font-size: 1.35em;
		text-align: center;
	}
}

.offer {
	min-height: 75vh;
	background-color: globals.$lighter-dark-blue;

	&__box {
		position: relative;
		@include mixins.center-flex;
		flex-direction: column;
		padding: 1em;
		margin: 1em;
		width: 90%;
		max-width: 420px;
		color: globals.$white-color;
		border-radius: 1em;
		text-align: center;
	}

	&__box-special-icon {
		position: absolute;
		color: globals.$gray-color;

		&--s {
			top: -20px;
			left: -20px;
			font-size: 76px;
		}

		&--m {
			bottom: -30px;
			right: -30px;
			font-size: 92px;
		}

		&--m-second {
			top: -30px;
			left: -30px;
			font-size: 78px;
			transform: rotateY(180deg);
		}

		&--l {
			bottom: -30px;
			left: -30px;
			font-size: 88px;
			transform: rotateY(180deg);
		}
	}

	&__box-special-text {
		padding: 0.75em;
		color: globals.$neon-pink;
		font-size: 1.2em;
		font-weight: 400;
		line-height: 32px;

		span {
			color: globals.$white-color;
			text-shadow: none;
		}
	}

	&__box-image-type {
		padding: 0.25em 0;
		color: transparent;
		font-size: 7em;
		font-family: globals.$special-font;
		font-weight: 400;
	}

	&__box-image-type-text {
		color: transparent;
		text-shadow: 0 0 0.5em globals.$neon-pink;
		text-transform: capitalize;
		-webkit-text-stroke-color: globals.$neon-pink;
		-webkit-text-stroke-width: 1px;
	}

	&__box-text {
		padding: 1em 0.5em;
		font-size: 0.9em;
		line-height: 1.5em;
	}

	&__box-button {
		@include mixins.special-button;
		padding: 0.75em 3em;
		margin: 0.75em 1.5em 1.5em;
		font-size: 0.9em;
		cursor: pointer;

		&::before {
			opacity: 0;
		}
	}
}

.order,
.terms {
	@include mixins.center-flex;
	padding: 5em 0;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	&__container {
		position: relative;
		width: 85%;
		color: globals.$white-color;
		border-radius: 0.125em;
		box-shadow: 0px 10px 40px 0 rgba(49, 32, 43, 0.75);
	}
}

.order {
	background-image: url('../images/background-welcome.jpg');

	&__container {
		text-align: center;
	}

	&__special-icon {
		position: absolute;
		top: -20px;
		left: -20px;
		color: globals.$gray-color;
		font-size: 52px;
		transform: rotate(-15deg);
	}

	.form {
		&__title {
			padding: 1.5em;
			font-size: 1.75em;
			font-weight: 200;
		}

		&__strap {
			width: 90%;
			border-color: globals.$transparent-gray-color;
		}

		&__box:nth-of-type(1) {
			padding-top: 1.5em;
		}

		&__box:nth-of-type(7) {
			padding-bottom: 1.25em;
			height: 200px;
		}

		&__close-button {
			position: absolute;
			padding: 0.35em;
			margin: 0.35em;
			top: 0;
			right: 0;
			font-size: 1.6em;
			color: globals.$transparent-gray-color;
			text-decoration: none;
			transition: color 0.3s;
		}

		&__special-text {
			padding: 0 2em;
			margin-bottom: 1em;
			font-size: 0.9em;

			a {
				color: globals.$white-color;
				transition: color 0.3s;
			}
		}
	}
}

.opinions {
	background-image: url('../images/opinions-section/opinions-background-image.jpg');
	background-size: cover;
	background-position: center;

	&__wrapper {
		@include mixins.center-flex;
		flex-direction: column;
		width: 90%;
		padding: 3em 0;
		overflow: hidden;
	}

	&__carousel-container {
		display: flex;
		width: 100%;
		animation: scroll-left 80s linear infinite;
	}

	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 0 0 75%;
		padding: 1em;
		margin: 0 10%;
		color: globals.$white-color;
		box-shadow: 0px 0px 20px -15px rgba(224, 224, 224, 1);
		border-radius: 1em;

		h3 {
			padding: 1em 0.25em;
			font-weight: 200;
			font-style: italic;
		}

		p {
			padding: 1em 0.25em 3.5em;
		}

		span {
			position: absolute;
			bottom: 15px;
			right: 15px;
			font-weight: 200;
			font-style: italic;
			text-align: right;
		}
	}

	&__box:nth-of-type(1) {
		margin: 0 10% 0 0;
	}

	&__box:nth-of-type(5) {
		margin: 0 0 0 10%;
	}

	&__box-image {
		position: absolute;
		top: -25px;
		right: -10px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;

		&--1 {
			background-image: url('../images/opinions-section//box-images/opinion-box-first.jpg');
		}

		&--2 {
			background-image: url('../images/opinions-section//box-images/opinion-box-second.jpg');
		}

		&--3 {
			background-image: url('../images/opinions-section//box-images/opinion-box-third.jpg');
		}

		&--4 {
			background-image: url('../images/opinions-section//box-images/opinion-box-fourth.jpg');
		}

		&--5 {
			background-image: url('../images/opinions-section//box-images/opinion-box-fifth.jpg');
		}
	}
}

.contact {
	background-color: globals.$lighter-dark-blue;

	&__container,
	&__title-box,
	&__title-info-box {
		@include mixins.center-flex;
		flex-direction: column;
	}

	&__title-box,
	&__form {
		width: 100%;
	}

	&__title-box {
		padding-bottom: 2.5rem;
		max-width: 600px;
	}

	&__title-subtext {
		padding: 1rem;
		width: 90%;
		max-width: 400px;
		text-align: center;
		line-height: 1.8em;

		a {
			color: globals.$white-color;
			transition: color 0.3s;
		}

		span {
			font-weight: 600;
		}
	}

	&__title-info-box {
		padding: 2rem 0;
		width: 90%;
		max-width: 400px;
		list-style-type: none;
		text-align: center;

		li {
			padding: 0.5em;
			width: 100%;
		}

		p {
			padding: 0.25rem 0;
			font-weight: 300;
		}

		p:first-of-type {
			font-weight: 500;
		}
	}

	&__title-icon {
		display: none;
	}

	&__form {
		max-width: 600px;
	}
}

.form {
	@include mixins.center-flex;
	flex-direction: column;
	width: 100%;

	&__box,
	&__recaptcha-box {
		@include mixins.center-flex;
		flex-direction: column;
		width: 100%;
	}

	&__box {
		padding: 1em;
	}

	&__recaptcha-box {
		padding: 1em 0 1em 4px;
	}

	&__label {
		padding-bottom: 0.25em;
	}

	&__input,
	&__textarea {
		padding: 0.95em 3.25em 0.95em 0.75em;
		width: 100%;
		color: globals.$white-color;
		background-color: transparent;
		border: 1px solid globals.$dark-pink;
		box-shadow: inset 0 0 0.25em globals.$white-color, 0 0 0.25em globals.$white-color;
		font-family: globals.$main-font;
		transition: border 0.3s, box-shadow 0.3s;
	}

	&__textarea {
		height: 200px;
		min-height: 120px;
		max-height: 300px;
		resize: vertical;
	}

	&__input,
	&__textarea {
		&:focus {
			box-shadow: inset 0 0 0.5em globals.$neon-pink, 0 0 0.5em globals.$neon-pink;
			outline: globals.$white-color;
		}

		&::placeholder {
			color: globals.$gray-color;
			opacity: 1;
		}

		&[aria-invalid='true'] {
			border-color: globals.$neon-pink;
			box-shadow: inset 0 0 0.5em globals.$neon-pink, 0 0 0.5em globals.$neon-pink;
		}
	}

	&__input-error,
	&__textarea-error {
		padding-top: 0.25em;
		height: 1em;
		width: 100%;
		color: globals.$neon-pink;
		text-shadow: 0 0 0.5em currentColor;
		font-size: 0.8em;
		text-align: center;
	}

	&__recaptcha-error {
		padding: 8px;
		height: 2px;
		width: 90%;
		color: globals.$neon-pink;
		font-size: 0.95em;
		text-align: center;
	}

	&__submit {
		@include mixins.special-form-button;
	}
}

.loader {
	margin: 1.48em 0;

	&__spinner {
		position: relative;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		animation: spin-animation 1.7s infinite ease, round-animation 1.7s infinite ease;
		overflow: hidden;

		&--pink {
			color: globals.$neon-pink;
			font-size: 45px;
		}

		&--white {
			color: globals.$white-color;
			font-size: 60px;
		}
	}

	&--special {
		padding: 6em 0.5em 0;
	}
}

.terms {
	color: globals.$white-color;
	background-image: url('../images/background-welcome.jpg');

	&__container {
		@include mixins.center-flex;
		flex-direction: column;
	}

	&__main-title {
		padding: 1.5em;
		font-size: 1.75em;
		font-weight: 200;
	}

	&__strap {
		width: 90%;
		border-color: globals.$transparent-gray-color;
	}

	&__box {
		padding: 1em;
		margin-top: 1.25em;
	}

	&__box:nth-of-type(5) {
		margin: 1.25em 0;
	}

	&__box:last-of-type {
		@include mixins.center-flex;
		margin-bottom: 1.75em;
		width: 100%;
	}

	&__title {
		margin-bottom: 0.75em;
		color: globals.$white-color;
		font-size: 1.1em;
		font-weight: 200;
		font-style: italic;
	}

	&__text {
		font-weight: 200;
		font-size: 0.9em;

		&--special {
			margin-top: 1em;
		}

		span {
			font-weight: 500;
		}
	}

	&__text-link {
		position: relative;
		display: inline-block;
		color: globals.$white-color;
		font-weight: 500;
		text-decoration: none;
		transition: color 0.3s linear, text-shadow 0.3s linear;
	}

	&__button {
		@include mixins.special-form-button;
	}

	&__special-icon {
		position: absolute;
		color: globals.$gray-color;
		font-size: 52px;

		&--first {
			top: -20px;
			left: -20px;
		}

		&--second {
			bottom: -20px;
			right: -20px;
		}
	}
}

.footer {
	padding: 1em 1em 0;
	background-color: globals.$dark-blue;
	color: globals.$white-color;
	font-size: 1em;
	text-align: center;

	&__text {
		padding: 1em;
	}

	&__icons-box {
		@include mixins.center-flex;
		padding-top: 0.5em;
	}

	&__icon {
		display: flex;
		margin: 0.65em 0.65em 0.35em;
		color: globals.$white-color;
		font-size: 28px;
	}

	&__copyright {
		@include mixins.center-flex;
		padding: 1.1em 1em;
		letter-spacing: 1px;
	}
}

.notfound {
	@include mixins.center-flex;
	flex-direction: column;
	padding: 1em;
	width: 100%;
	min-height: 100vh;
	background-color: globals.$lighter-dark-blue;

	&__img {
		width: 90%;
	}

	&__credits {
		color: globals.$white-color;
		font-size: 0.8em;
	}

	&__btn {
		@include mixins.special-button;
		padding: 0.75em 3em;
		margin: 2em 1em;
		text-transform: uppercase;

		&::before {
			opacity: 0.7;
		}
	}
}
