@use 'colors';
@use 'animations';
@use 'mixins';

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: colors.$dark-blue;
	font-family: 'Montserrat', sans-serif;
}

.cookie-banner-text {
	padding: 0.25em;
}

.cookie-banner-link {
	color: #ffdf00;
}

.homepage {
	@include mixins.center-flex;
	@include mixins.background;
	width: 100%;
	height: 100%;
	min-height: 100vh;

	&__container {
		@include mixins.center-flex;
		flex-direction: column;
		width: 100%;
	}

	&__title {
		margin-bottom: 1em;
		color: transparent;
		font-size: 4em;
		font-family: 'Dancing Script', cursive;
		font-weight: 300;
		text-shadow: 0 0 0.5em colors.$neon-pink;
		text-align: center;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: colors.$neon-pink;
		-webkit-transform: translate3D(0, 0, 0);

		span {
			animation: title-animation 6s linear infinite;
		}

		span:nth-child(1) {
			animation-delay: 0s;
		}

		span:nth-child(2) {
			animation-delay: 0.5s;
		}

		span:nth-child(3) {
			animation-delay: 1s;
		}

		span:nth-child(4) {
			animation-delay: 1.5s;
		}

		span:nth-child(5) {
			animation-delay: 2s;
		}

		span:nth-child(6) {
			margin-left: 15px;
			animation-delay: 2.5s;
		}

		span:nth-child(7) {
			animation-delay: 3s;
		}

		span:nth-child(8) {
			animation-delay: 3.5s;
		}

		span:nth-child(9) {
			animation-delay: 4s;
		}
	}

	&__button {
		display: inline-block;
		position: relative;
		padding: 1em 2em;
		color: colors.$neon-pink;
		border: colors.$neon-pink 0.125em solid;
		border-radius: 0.25em;
		text-decoration: none;
		text-transform: uppercase;
		text-shadow: 0 0 0.5em currentColor;
		box-shadow: inset 0 0 0.5em colors.$neon-pink, 0 0 0.5em colors.$neon-pink;
		transition: background-color 150ms linear;

		&::before {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: colors.$neon-pink;

			pointer-events: none;

			transform: perspective(3em) rotateX(40deg) scale(1, 0.35);
			filter: blur(2em);
			transition: opacity 150ms linear;
			opacity: 0.7;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			box-shadow: 0 0 2em 0.5em colors.$neon-pink;
			transition: opacity 150ms linear;
			opacity: 0;
		}

		&:hover,
		&:focus {
			background-color: colors.$neon-pink;
			color: colors.$dark-pink;
			text-shadow: none;
		}

		&:hover::before,
		&:focus::before {
			opacity: 1;
		}

		&:hover::after,
		&:focus::after {
			opacity: 1;
		}
	}
}

.header {
	@include mixins.center-flex;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: colors.$dark-blue;
	z-index: 10;

	&__box {
		display: flex;
		justify-content: end;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 120px;
	}

	&__title {
		color: transparent;
		font-size: 2.2em;
		font-family: 'Dancing Script', cursive;
		font-weight: 400;

		-webkit-transform: translate3D(0, 0, 0);

		&-link {
			color: transparent;
			text-shadow: 0 0 0.5em colors.$neon-pink;
			text-decoration: none;
			-webkit-text-stroke-color: colors.$neon-pink;
			-webkit-text-stroke-width: 1px;

			span {
				animation: title-animation 6s linear infinite;
			}

			span:nth-child(1) {
				animation-delay: 0s;
			}

			span:nth-child(2) {
				animation-delay: 0.5s;
			}

			span:nth-child(3) {
				animation-delay: 1s;
			}

			span:nth-child(4) {
				animation-delay: 1.5s;
			}

			span:nth-child(5) {
				animation-delay: 2s;
			}

			span:nth-child(6) {
				margin-left: 15px;
				animation-delay: 2.5s;
			}

			span:nth-child(7) {
				animation-delay: 3s;
			}

			span:nth-child(8) {
				animation-delay: 3.5s;
			}

			span:nth-child(9) {
				animation-delay: 4s;
			}
		}
	}

	&__nav {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		width: 100%;
		padding-top: 1em;
	}

	&__nav-link {
		display: inline-block;
		position: relative;
		padding: 0.8em 0;
		color: colors.$white-color;
		border: 1px solid black;
		font-size: 1em;
		text-decoration: none;
		text-align: center;
		text-shadow: 0 0 0.3em currentColor;
		transition: color 0.3s text-shadow 0.3s;

		-webkit-transform: translate3D(0, 0, 0);
	}

	&__nav-link-active {
		color: colors.$neon-pink;
		text-shadow: 0 0 0.5em currentColor;
	}

	&__nav-link:first-of-type,
	&__nav-link:last-of-type {
		border-left: none;
		border-right: none;
	}
}

.offer {
	@include mixins.background;
	padding-top: 120px;

	&__container {
		@include mixins.center-flex;
		flex-direction: column;
		padding: 1em 0;
		width: 100%;
		min-height: 100vh;
	}

	&__box {
		@include mixins.center-flex;
		flex-direction: column;
		padding: 1em;
		margin: 1em;
		width: 90%;
		color: colors.$white-color;
		border: colors.$neon-pink 0.125em solid;
		border-radius: 1em;
		box-shadow: inset 0 0 0.5em colors.$neon-pink, 0 0 0.5em colors.$neon-pink;
		text-align: center;
	}

	&__box:nth-of-type(2) {
		animation: border-animation 4s infinite linear;
	}

	&__box-title {
		padding: 1em;
		color: colors.$neon-pink;
		font-size: 1.3em;
		font-weight: 400;
		text-shadow: 0 0 0.3em currentColor;
		transition: color 0.3s text-shadow 0.3s;

		-webkit-transform: translate3D(0, 0, 0);
	}

	&__box-text {
		padding: 0.5em;
		font-size: 0.9em;
	}

	&__box-button {
		display: inline-block;
		position: relative;
		padding: 0.75em 3em;
		margin: 1.5em;
		color: colors.$neon-pink;
		background-color: transparent;
		border: colors.$neon-pink 0.125em solid;
		border-radius: 0.25em;
		text-shadow: 0 0 0.5em currentColor;
		box-shadow: inset 0 0 0.5em colors.$neon-pink, 0 0 0.5em colors.$neon-pink;
		text-decoration: none;
		transition: background-color 150ms linear;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: colors.$neon-pink;

			pointer-events: none;

			transform: perspective(3em) rotateX(40deg) scale(1, 0.35);
			filter: blur(2em);
			transition: opacity 150ms linear;
			opacity: 0.7;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			box-shadow: 0 0 2em 0.5em colors.$neon-pink;
			transition: opacity 150ms linear;
			opacity: 0;
		}

		&:hover,
		&:focus {
			background-color: colors.$neon-pink;
			color: colors.$dark-pink;
			text-shadow: none;
		}

		&:hover::before,
		&:focus::before {
			opacity: 1;
		}

		&:hover::after,
		&:focus::after {
			opacity: 1;
		}
	}
}

.carousel {
	width: 92%;
	border-radius: 0.5em;
	
	&__item {
		width: 100%;
	}
}

.terms {
	@include mixins.center-flex;
	@include mixins.background;
	padding: 140px 0 1.25em;
	min-height: 100vh;
	color: colors.$white-color;

	&__container {
		@include mixins.center-flex;
		flex-direction: column;
		width: 75%;
		color: colors.$white-color;
		border: colors.$neon-pink 0.125em solid;
		border-radius: 1em;
		box-shadow: inset 0 0 0.5em colors.$neon-pink, 0 0 0.5em colors.$neon-pink;
		text-align: center;
	}

	&__box {
		padding: 0.75em;
		margin-top: 1.25em;
	}

	&__box:last-of-type {
		margin-bottom: 1.25em;
	}

	&__title {
		margin-bottom: 0.75em;
		color: colors.$neon-pink;
		font-size: 1.1em;
		font-weight: 500;
		text-shadow: 0 0 0.3em currentColor;
	}

	&__text {
		font-weight: 300;
		font-size: 0.9em;

		&--special {
			margin-top: 1em;
		}

		span {
			font-weight: 500;
		}
	}

	&__text-link {
		position: relative;
		display: inline-block;
		color: colors.$white-color;
		font-weight: 500;
		text-decoration: none;
		text-shadow: 0 0 0.2em currentColor;
		transition: color 0.3s;
	}
}

.footer {
	padding: 1em 1em 0;
	background-color: colors.$dark-blue;
	color: colors.$white-color;
	font-size: 1em;
	text-align: center;

	&__text {
		padding: 1em;
		text-shadow: 0 0 0.3em currentColor;
	}

	&__icons-box {
		@include mixins.center-flex;
		padding-top: 0.5em;
	}

	&__icon {
		display: flex;
		margin: 0.65em 0.65em 0.35em;
		color: colors.$white-color;
		font-size: 28px;
	}

	&__copyright {
		@include mixins.center-flex;
		padding: 1.1em 1em;
		letter-spacing: 1px;
	}
}

.notfound {
	@include mixins.center-flex;
	flex-direction: column;
	padding: 1em;
	width: 100%;
	min-height: 100vh;

	&__img {
		width: 90%;
	}

	&__credits {
		color: colors.$white-color;
		font-size: 0.8em;
	}

	&__btn {
		display: inline-block;
		position: relative;
		padding: 0.75em 3em;
		margin: 2em 1em;
		color: colors.$neon-pink;
		border: colors.$neon-pink 0.125em solid;
		border-radius: 0.25em;
		text-decoration: none;
		text-transform: uppercase;
		text-shadow: 0 0 0.5em currentColor;
		box-shadow: inset 0 0 0.5em colors.$neon-pink, 0 0 0.5em colors.$neon-pink;
		transition: background-color 150ms linear;

		&::before {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: colors.$neon-pink;

			pointer-events: none;

			transform: perspective(3em) rotateX(40deg) scale(1, 0.35);
			filter: blur(2em);
			transition: opacity 150ms linear;
			opacity: 0.7;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			box-shadow: 0 0 2em 0.5em colors.$neon-pink;
			transition: opacity 150ms linear;
			opacity: 0;
		}

		&:hover,
		&:focus {
			background-color: colors.$neon-pink;
			color: colors.$dark-pink;
			text-shadow: none;
		}

		&:hover::before,
		&:focus::before {
			opacity: 1;
		}

		&:hover::after,
		&:focus::after {
			opacity: 1;
		}
	}
}
