@use 'colors';

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: url('../images/background.jpg');
	background-attachment: fixed;
	font-family: 'Lato', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1660px;
}

.homepage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background: url('../images/background-welcome.jpg');
	background-size: cover;
	background-position: center;

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 900px;
		height: 610px;
		background-size: cover;
		background-position: center;
	}

	&__title {
		width: 3em;
		margin-bottom: 1em;
		font-size: 3.5em;
		font-family: 'Dancing Script', cursive;
		text-transform: uppercase;
		font-weight: 300;
		text-align: center;
	}

	&__button {
		padding: 1em 3em;
		background-color: colors.$main-color;
		border-radius: 16px;
		text-decoration: none;
		text-transform: uppercase;
		color: colors.$white-color;
		transition: background-color 0.3s;

		&:hover {
			background-color: colors.$second-color;
		}
	}
}

.main-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__first-frame,
	&__second-frame,
	&__third-frame,
	&__fourth-frame,
	&__fifth-frame {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 2em 0;
		width: 272px;
		height: 401px;
		background-image: url('../images/frame-400-horizontal.png');
		background-size: cover;
		background-position: center;
	}

	&__title {
		width: 100%;
		margin-bottom: 2em;
		font-size: 2em;
		font-family: 'Dancing Script', cursive;
		text-transform: uppercase;
		font-weight: 300;
		text-align: center;
	}

	&__button {
		padding: 0.75em 3em;
		background-color: colors.$main-color;
		border-radius: 16px;
		font-size: 0.9em;
		text-decoration: none;
		text-transform: uppercase;
		color: colors.$white-color;
		transition: background-color 0.3s;

		&:hover {
			background-color: colors.$second-color;
		}
	}
}

@media screen and (min-width: 768px) {
	.main-section {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;

		&__first-frame,
		&__second-frame,
		&__third-frame,
		&__fourth-frame,
		&__fifth-frame {
			margin: 2em;
		}

		&__title {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2em;
		}
	}
}

@media screen and (min-height: 768px) and (max-width: 992px) {
	.homepage {
		&__title {
			font-size: 4em;
		}
	}
}

@media screen and (min-height: 912px) and (min-width: 1024px) {
	.homepage {
		&__title {
			font-size: 5em;
		}
	}
}

@media screen and (min-width: 1280px) {
	.main-section {
		&__first-frame,
		&__second-frame,
		&__third-frame,
		&__fourth-frame,
		&__fifth-frame {
			margin: 3em;
			width: 410px;
			height: 601px;
			background-image: url('../images/frame-600-horizontal.png');
		}

		&__title {
			font-size: 3em;
		}
	
		&__button {
			padding: 0.75em 3.5em;
			font-size: 1em;
		}
	}
}
